@{
    ViewData["Title"] = "Home Page";
}

<script>
    $(function() {
        $("#dieRollForm").submit(function(e){
            e.preventDefault();

            $.ajax({
                type: "POST",
                data: {},
                url: '/Home/DieRoll',                    
                success: function (result) {
                    $("#dieRollResult").text(result);
                }
            })
        });
    });
    
</script>

<div class="text-center">
    <form id="dieRollForm" method="post">
         <button type="submit">Die Roll</button>
    </form>
    <label id="dieRollResult"></label>
</div>
